[submodule "exercises/paint"]
	path = exercises/paint
	url = https://github.com/FredrikAppelros/teaching-apps-paint.git
[submodule "exercises/monty-hall"]
	path = exercises/monty-hall
	url = https://github.com/FredrikAppelros/teaching-apps-monty-hall.git
[submodule "exercises/mandelbrot"]
	path = exercises/mandelbrot
	url = https://github.com/FredrikAppelros/teaching-apps-mandelbrot.git
[submodule "exercises/game"]
	path = exercises/game
	url = https://github.com/FredrikAppelros/teaching-apps-game.git
