<footer class="chapter-footer">

  <div class="wrapper">

    {% if page.index %}
    <table class="footer-table">
      <tr>
        <td>
          {% if page.index > 1 %}
          <a href="{{ site.baseurl }}/chapters/{{ page.index | minus: 1 }}">
            ← Previous chapter
          </a>
          {% endif %}
        </td>

        <td>
          <a href="{{ site.baseurl }}/chapters">Table of contents</a>
        </td>

        <td>
          {% if page.index < site.chapters.size %}
          <a href="{{ site.baseurl }}/chapters/{{ page.index | plus: 1 }}">
            Next chapter →
          </a>
          {% endif %}
        </td>
      </tr>
    </table>
    {% endif %}

  </div>

</footer>
