/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
}

.site-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}



/**
 * Exercises
 */
.exercise-wrapper {
    background-color: lighten($grey-color, 10%);
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.exercise-header {
    i {
        margin-right: $spacing-unit / 2;
    }
}

.answer-button {
    color: $brand-color;
    font-size: 16px;
    font-weight: 700;
    text-shadow: none;

    &[active] {
        background-color: lighten($grey-color, 25%);
    }
}



/**
 * Chapter footer
 */
.chapter-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    text-align: left;
}

.footer-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    text-align: center;
}

.footer-col-3 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    text-align: right;
}



/**
 * Mobile adjustments
 */
@include media-query($on-palm) {
    .site-title {
        font-size: 28px;
    }

    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        text-align: left;
    }
}
