/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
}

.site-icon {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: $spacing-unit / 2;
    margin: 12px $spacing-unit / 2 0 0;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    background-color: $brand-color;

    &:hover {
        background-color: lighten($brand-color, 25%);
    }
}

.site-title {
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}



/**
 * Buttons
 */
paper-button {
    font-size: 16px;
    font-weight: 700;
    text-shadow: none;
}

.start-wrapper {
    text-align: center;
    border-top: 1px solid $grey-color-light;
}

.start-button {
    color: #fff;
    background-color: lighten($grey-color, 25%);
    margin-top: $spacing-unit;

    &:hover {
        background-color: $brand-color;
    }

    &[pressed] {
        background-color: lighten($brand-color, 25%);
    }
}

.answer-button {
    color: $brand-color;

    &[active] {
        background-color: lighten($grey-color, 25%);
    }
}



/**
 * Exercises
 */
.exercise-wrapper {
    background-color: lighten($grey-color, 10%);
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.exercise-header {
    i {
        margin-right: $spacing-unit / 2;
    }
}



/**
 * Chapter footer
 */
.chapter-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-table {
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    @extend %clearfix;

    & > tbody > tr > td {
        i {
            margin: 0 $spacing-unit / 2;
        }

        &:nth-child(1) {
            text-align: left;
        }

        &:nth-child(2) {
            text-align: center;
        }

        &:nth-child(3) {
            text-align: right;
        }
    }
}



/**
 * Mobile adjustments
 */
@include media-query($on-palm) {
    .site-icon {
        width: 100%;
        margin-top: -5px;
        margin-left: -$spacing-unit / 2;
        margin-right: -$spacing-unit / 2;
        border-radius: 0;
    }

    .site-title {
        clear: left;
        font-size: 28px;
    }

    .start-wrapper {
        margin-left: -$spacing-unit / 2;
        margin-right: -$spacing-unit / 2;
    }

    .exercise-wrapper {
        margin-left: -$spacing-unit / 2;
        margin-right: -$spacing-unit / 2;
    }

    .chapter-footer {
        margin-left: -$spacing-unit / 2;
        margin-right: -$spacing-unit / 2;
        padding: $spacing-unit;
    }

    .footer-text {
        display: none;
    }
}
