/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
}

.site-icon {
    float: left;
    margin: 10px $spacing-unit / 2 0 0;
    text-shadow: none;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: lighten($brand-color, 10%);
    }
}

.site-title {
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}



/**
 * Buttons
 */
paper-button {
    font-size: 16px;
    font-weight: 700;
    text-shadow: none;
}

.start-wrapper {
    text-align: center;
    border-top: 1px solid $grey-color-light;
}

.start-button {
    color: #fff;
    background-color: lighten($grey-color, 25%);
    margin-top: $spacing-unit;

    &:hover {
        background-color: $brand-color;
    }

    &[pressed] {
        background-color: lighten($brand-color, 25%);
    }
}

.answer-button {
    color: $brand-color;

    &[active] {
        background-color: lighten($grey-color, 25%);
    }
}



/**
 * Exercises
 */
.exercise-wrapper {
    background-color: lighten($grey-color, 10%);
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.exercise-header {
    i {
        margin-right: $spacing-unit / 2;
    }
}



/**
 * Chapter footer
 */
.chapter-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-table {
    width: 100%;
    table-layout: fixed;
    font-size: 15px;
    font-weight: bold;
    @extend %clearfix;

    td {
        i {
            margin: 0 $spacing-unit / 2;
        }

        &:nth-child(1) {
            text-align: left;
        }

        &:nth-child(2) {
            text-align: center;
        }

        &:nth-child(3) {
            text-align: right;
        }
    }
}



/**
 * Mobile adjustments
 */
@include media-query($on-palm) {
    .site-title {
        font-size: 28px;
    }

    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        text-align: left;
    }
}
